#searchbar{

    border-color: rgba(16, 16, 241, 0.281);
    border-style: solid 
    
    
    ;
    width: auto;
    height: 2.5rem;
    margin-top: 2rem;
    width: 100%;
    max-width: 700px;
    box-sizing: border-box;
    border-radius: 1rem;
}

h1{
    margin-top: 5rem;
}